a {
  cursor: pointer;
}
@media only screen and (max-width: 520px) {
  .note-grid {
    width: 100%;
    min-height: 94px !important;
    font-size: 10px;
  }
  .content-textarea {
    max-height: 537px !important;
  }
  .initials-container {
    height: 244px;
  }
  .big-initials {
    font-size: 120px;
  }
  .note-list {
    width: 95%;
  }
  .note-column {
    width: 47vw !important;
  }
  .new-note-container {
    margin-top: 56px;
  }
  .new-note {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .new-note-form {
    height: 90%;
  }
}
@media only screen and (min-width: 500px) {
  .tool-icon {
    font-size: 43px;
  }
  .sidenav {
    width: 49%;
    max-width: 250px;
  }
  .sidenav-name {
    font-size: 26px;
  }
  .note-list {
    width: 90%;
  }
  .note-column {
    width: 231px;
  }
  .new-note-container {
    margin-top: 56px;
  }
  .new-note {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .new-note-form {
    height: 90%;
  }
}
@media only screen and (min-width: 600px) {
  .note-list {
    width: 80%;
  }
  .note-column {
    width: 231px;
  }
  .new-note {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
  }
}
@media only screen and (min-width: 768px) {
  .new-note {
    width: 69%;
    margin: 30px auto 17px auto;
  }
  .note-list {
    width: 70%;
  }
  .new-note {
    width: 60%;
    margin: 0 auto;
    padding: 15px 0;
    height: auto;
  }
}

@media only screen and (min-width: 992px) {
  .new-note {
    width: 55%;
    margin: 0 auto;
    padding: 15px 0;
  }
  .note-list {
    width: 60%;
  }
  .new-note {
    width: 70%;
    margin: 0 auto;
    padding: 15px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .new-note {
    width: 43%;
    margin: 0 auto;
    padding: 15px 0;
  }
}
html {
  margin: 0;
}
body {
  margin: 0;
}
@font-face {
  font-family: nocturne;
  src: url './fonts/Nocturne.ttf';
  font-family: cherish;
  src: url './fonts/CherishToday/Cherish-today.ttf';
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home {
  display: flex;
  flex-direction: column;
}
/*----------- Auth-FORMS ------------*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signIn-form {
  border: 1px solid rgb(202, 200, 200);
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  margin-top: 25px;
}
.signUp-form {
  border: 1px solid rgb(202, 200, 200);
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  margin-top: 25px;
}
.input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 10px;
}
.btn {
  border-radius: 5px;
}
.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----------- NAVBAR ------------*/
.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 56px;
  justify-content: space-between;
  background-color: #407141;
}
.menu-search {
  display: flex;
  flex-wrap: nowrap;
  width: 45%;
  justify-content: flex-start;
}
.menu-icon {
  padding-left: 20px;
}
.sidenav-trigger {
  margin: 0px !important;
}
.sidenav {
  top: 56px;
  background-color: #639269;
}
.sidenav-image {
  width: 100%;
  border: 2px solid rgb(200, 209, 201);
  border-radius: 50%;
}
.initials-container {
  width: 100%;
  border: 2px solid rgb(200, 209, 201);
  border-radius: 50%;
  height: 292px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-initials {
  font-size: 166px;
  text-transform: uppercase;
}
.sidenav-name {
  font-family: cherish;
  text-align: center;
  font-size: 31px;
  color: #e0dcdc;
  margin: 0;
}
.divider {
  margin: 0 !important;
}
.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#search {
  padding-left: 5px;
  background-color: transparent;
  color: rgb(82, 80, 80);
}
.logo {
  width: 73px;
  display: flex;
  align-items: center;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 45%;
  justify-content: flex-end;
}
.nav-buttons a {
  margin: 0 3px;
  cursor: pointer;
}
.nav-buttons a:first-child {
  margin: 0 3px;
}
.nav-buttons a:last-child {
  margin: 0 20px;
}
nav i.material-icons {
  font-size: 37px;
}
.button-icon {
  background-color: transparent;
  border: none;
  transform: none;
  transition: none;
}
.disabled {
  display: none;
}
.dark {
  color: rgb(46, 45, 45);
}
@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: block;
  }
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
  margin-left: 50px;
}
.dropdown-trigger {
  margin: 0 !important;
  width: 55px;
  height: 55px;
  border: 1px solid rgba(136, 134, 134, 0.849);
}
.initials {
  text-transform: uppercase;
  margin-top: 7px;
  font-size: 30px;
  text-align: center;
  height: 35px;
}
.dropdown-content {
  top: 56px !important;
  width: 200px !important;
  height: 96px !important;
  border-radius: 5px;
}
.container-user {
  display: flex;
  flex-direction: column;
  width: 200px !important;
  height: 96px !important;
  padding: 5px !important;
}
.user-image {
  width: 100%;
}
.user-name {
  display: flex;
  height: 60%;
  justify-content: center;
}
.name {
  color: black;
  font-size: 22px;
  align-self: center;
}
.button-logout {
  align-self: center;
  height: 40%;
  display: flex;
  padding: 0 5px;
  margin: 0;
}
/*----------- New Note ------------*/
.new-note-container {
  width: 100%;
  height: 93%;
  background-color: rgba(226, 228, 228, 0.85);
  position: absolute;
}
.new-note {
  display: flex;
  flex-direction: column;
}
.new-note-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(133, 131, 131);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: -1px 2px 13px 3px rgba(23, 103, 35, 0.74);
  justify-content: space-between;
}
.input-field {
  margin: 10px 10px 0 10px;
}
#title-note {
  font-weight: bold !important;
}
.content-input {
  margin-bottom: 0;
}
.content-textarea {
  overflow: scroll !important;
  max-height: 554px !important;
}
.last-update {
  width: 100%;
  margin: 0;
  text-align-last: end;
  align-self: flex-end;
  color: #969696 !important;
  font-size: 12px;
}
.tools-save-container {
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: flex-end;
}
.theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme {
  width: 36px;
  height: 36px;
  border: none;
}
.fixed-action-btn {
  position: sticky !important;
}
.colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d0cdcd;
  border: 1px solid #b3b1b1;
  border-radius: 5px;
  left: 0px !important;
  width: 130px !important;
  height: 100px !important;
  padding: 0px;
  top: -83px;
}
.colors-container li {
  margin: 1px 1px !important;
  width: 30px !important;
  height: 30px !important;
}
.colors-container li a {
  width: 30px !important;
  height: 30px !important;
}
.labels-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #d0cdcd;
  border: 1px solid #b3b1b1;
  border-radius: 5px;
  left: 0px !important;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  top: -112px;
}
.labels-container li {
  margin: 1px 1px !important;
  width: auto !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.labels-container li a {
  background-color: #7b7c7d;
  font-size: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.labels-container li a:hover {
  background-color: #cecfcf;
}
.label-p {
  margin-left: 4px;
}
.save-input {
  width: 67px;
  height: 32px;
  border: none;
  border-radius: 9px;
  /* color: #26a59a; */
  color: #616060;
  font-size: 24px;
  padding: 0 !important;
  background-color: transparent;
}
.save-input:hover {
  /* background-color: #26a59a; */
  background-color: #919292;
  transition: 1000ms;
  color: rgb(248, 247, 247);
}
.tools-container {
  display: flex;
  flex-wrap: nowrap;
}
.tools {
  display: flex;
  width: 50%;
  align-items: flex-end;
}
.tool-icon {
  cursor: pointer;
  border-radius: 9px;
  color: #616060;
  font-size: 36px;
}
.tool-icon:hover {
  background-color: #9f9f9f;
  transition: 1000ms;
  color: rgb(248, 247, 247);
}
i.medium {
  font-size: 2.7rem;
}
.home {
  height: 100%;
  background-color: #b6f3af;
}
/*----------- Dashboard ------------*/
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll !important;
}
/*----------- Note Grid ------------*/
.notes-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
}
.note-column {
  margin: 10px 5px;
  width: 231px;
}
.note-grid {
  background-color: #fffbfb;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 5px;
  min-height: 100px;
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  margin: 0.667%;
  box-shadow: 2px 3px 4px 0px rgba(16, 16, 16, 0.7);
  cursor: pointer;
  margin: 0 4px 8px 4px;
}
.note-grid:hover {
  box-shadow: 2px 2px 13px 3px rgb(1, 7, 1);
}
.note-inner-grid {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', arial, sans-serif;
  padding: 5px;
}
.note-title-grid {
  margin: 5px 0 10px 0;
  font-weight: bold;
  border-bottom: 1px solid #bbbaba;
}
.note-content-grid {
  color: black;
  resize: none;
  border: none;
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  min-height: 45px !important;
  max-height: 400px !important;
  cursor: pointer;
}
/*----------- Note List ------------*/
.note-list-ul {
  width: 100vw;
}
.note-list {
  background-color: #fffbfb;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 5px;
  min-height: 100px;
  /* width: 100%; */
  height: fit-content;
  word-wrap: break-word;
  margin: 0.667%;
  box-shadow: 2px 3px 4px 0px rgba(16, 16, 16, 0.7);
  cursor: pointer;
  margin: 0 auto 8px auto;
}
.note-list:hover {
  box-shadow: 2px 2px 13px 3px rgb(1, 7, 1);
}
.note-inner-list {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', arial, sans-serif;
  padding: 5px;
}
.note-title-list {
  margin: 5px 0 10px 0;
  font-weight: bold;
  border-bottom: 1px solid #bbbaba;
}
.note-content-list {
  color: black;
  resize: none;
  border: none;
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  min-height: 45px !important;
  max-height: 400px !important;
  cursor: pointer;
}
